#profile {
    width: 100%;
    background: rgb(223, 223, 241);
    padding-bottom: 100px;
}

.nav-link,
.navbar-brand {
    color: black;
}

#resumeButton,
.btn {
    background: black;
    color: white;
}

#bg>img {
    position: absolute;
}